.header {
    margin: 10px;
    padding: 10px;
    background-color: darkmagenta;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;

    &__heading {
        font-size: 2.4rem;
        font-weight: 600;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
}

.logo {
    &__image {
        border-radius: 50%;

    }
}

.nav {
    position:relative;
}

.menu {
    padding: 10px;
    width: 140px;
    height: 140px;
    position:absolute;
    top: 0;
    right: 20px;
    list-style: none;
    display: none;
    background-color: antiquewhite;
    border-radius: 10px;

    &--active {
        display: block;
        animation: move linear .1s forwards;
    }

    &__item {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    &__link {
        text-decoration: none;
        font-size: 1.4rem;
        color: #000;
    }
}

.hamburger {
    margin-top: -30px;
    margin-right: -10px;
    padding: 7px;
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    text-align: center;
    color: #fff;
    &__item {
        margin: 2px;
        width: 20px;
        height: 2px;
        background: #ffffff;
        transition: all 0.4s;

        &--rotate {
            transform: rotate(45deg) translateX(3px) translateY(2px);
        }

        &--reverse {
            transform: rotate(-45deg) translateX(2px) translateY(-2px);
        }

        &--non_display {
            display: none;
        }
    }
}

@keyframes move {
    from {
        right: -120px;
    }

    to {
        right: -15px;
    }

}



